$primaryColor: #323b4f;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: $primaryColor;
}

.App {
  text-align: center;
  height: fit-content;
  width: 800px;
  margin: 0 auto;
}

.title {
  letter-spacing: 0.2rem;
  text-align: left;
  margin: 1rem 0;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    background-color: #f6f9fae8;

    input {
      width: 100%;
      margin: 0.3rem;
      border-radius: 3px;
      border: 1px solid rgb(216, 222, 226);
      padding: 0.4rem;
      outline: none;
    }
    input:focus {
      border: 1px solid #61dafb;
    }

    label {
      width: 100%;
      display: flex;
      margin: 0.2rem;
    }
  }
}

button {
  background-color: $primaryColor;
  color: white;
  border: 1px solid $primaryColor;
  padding: 0.8em 1.5em;
  margin: 1rem;
  letter-spacing: 0.08rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: $primaryColor;
}

#button {
  background-color: white;
  color: $primaryColor;
  padding: 0.3rem;
}

.button-edit {
  padding: 0.3rem;
  background-color: transparent;
  font-size: 1.5rem;
  text-align: right;
  border: 1px solid $primaryColor;
}

.button-edit:hover {
  background-color: transparent;
  color: white;
}

.title-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h2 {
    flex-grow: 1;
    text-align: left;
  }
}

h2 {
  text-align: left;
  padding: 1rem 0;
}

.header-conatainer {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  background-color: $primaryColor;
  color: white;
  padding: 0.5rem;

  h1 {
    padding: 1rem;
  }
}

.name-container {
  display: contents;
  font-size: 2rem;
}

.email-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  flex-grow: 1;
  margin-right: 0.5rem;

  h4 {
    font-size: 0.8rem;
    padding: 0.3rem;
  }
}
.experience-list-container {
  border-bottom: 1px solid #bbbec462;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}
.experience-container {
  display: flex;
  align-items: center;

  .date {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 0.7rem;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }

  h5 {
    color: grey;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }

  .description {
    flex-grow: 1;
    text-align: left;
    padding-left: 2rem;
  }
}

.education-container {
  h5 {
    color: grey;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
  }
}
